/*this is the top of the page*/
body {
  font-size: 14px;
}
/*this is the navigation bar*/
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/*these sections are regarding type, size, wideth, and color*/
section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element-color {
  color: green;
}
